@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;

    font-weight: normal;
    font-family: 'Inter', Arial, sans-serif;
    color: #000;
}

#banner {
    display: flex;
    flex: 0 0 5%;
    background-color: #8F9E8B;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

#links {
    display: flex;
    gap: 30px;
    margin-left: auto;
}

#links img {
    height: 30px;
}

#contact {
    display: flex;
    flex: 0 0 5%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
}

#content {
    flex: 1;
    overflow-y: auto;
    align-items: center;
}

#introduction-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

#introduction-text {
    margin-left: 100px;
}


html {
    font-size: 18px;
}

h1 {
    font-size: 5vw;
    font-weight: bold;
    padding-bottom: 2rem;
}

a, h2 {
    font-size: 18px; 
}

h2.underlined {
    text-decoration: underline;
}

.green-heading {
    color: #8F9E8B;
}

h2.bold {
    font-weight: bold;
}

h2.bold-underlined {
    font-weight: bold;
    text-decoration: underline;
}

p {
    font-size: 1rem;
}

p.centred {
    text-align: center;
}

.rounded-image {
    width: 50vw;
    height: 50vw;
    max-width: 256px;
    max-height: 256px;
    border-radius: 50%;
}

.about-me-image {
    width: 25%;
    height: auto;
    margin-bottom: 75px;
}

/* #home {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
} */

.information-div {
    min-height: 100%;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#about-me-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#about-me-card {
    flex: 0 0 25%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
}

#project-card {
    background-color: #42473F;
    border-radius: 10px;
    width: 100%;
    height: 40%;
}

.scroll-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll; 
}

.scroll-item {
    scroll-snap-align: start;
}

.wave {
    display: inline-block;
    transform-origin: 70% 70%;
    animation: wave 3.5s infinite;
}

@keyframes wave {
    0%, 60%, 100% {
        transform: rotate(10deg);
    }

    30% {
        transform: rotate(-10deg);
    }
}